[Unit]
Description=spintest
After=syslog.target

[Service]
User=ubuntu
ExecStart=/opt/spintest/spintest-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target